* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

:root {
  --primary-cyan: hsl(185, 75%, 39%);
  --primary-blue: hsl(229, 23%, 23%);
  --primary-grayish: hsl(227, 10%, 46%);
  --neutral-gray: hsl(0, 0%, 59%);
}

body {
  min-height: 100vh;
  background: var(--primary-cyan);
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom 40vh right 49vw, top 40vh left 42vw;
}
